/input/images/Thumbs.db
/temp
/template
/output
/input-cache
/fsh-generated
/.vscode
/_gencontinuous.bat
/_gencontinuous.sh
/_genonce.bat
/_genonce.sh
CPs/html

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
CPs/output

# Ignore Mac metadata file
.DS_Store
